* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-header {
  background: #F3EEE8;
  display: flex;
  justify-content: center;
}

.page-header .header-container {
  max-width: 1440px;
  height: 900px;
  width: 100%;
  display: flex;
  position: relative;
}

.page-header .header-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 55px;
  left: 150px;
  right: 150px;

}

.page-header .header-container nav div {
  display: flex;
  gap: 82px;
}

.page-header .header-container nav .logo {
  color: #A06056;
  font-family: Merriweather;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
  text-decoration: none;
}

.page-header .header-container nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

.page-header .header-container nav ul li a {
  color: #706458;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Varta;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
}

.page-header .header-container .left-side {
  width: 50%;
  padding: 24px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-header .header-container .left-side .section-title {
  color: #A06056;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Varta;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.page-header .header-container .left-side .title {
  color: #A06056;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Merriweather;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 70px;
  letter-spacing: -0.4px;
  margin-bottom: 30px;
}

.page-header .header-container .left-side .description {
  color: rgba(112, 100, 88, 0.90);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Varta;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 30.8px;
  margin-bottom: 50px;
}

.page-header .header-container .left-side img {
  height: 50px;
  width: 50px;
}

.page-header .header-container .right-side {
  width: 50%;
  background-image: url(/assets/media/Lamp.png);
  background-repeat: no-repeat;
  background-size: cover;
}


.side-to-design {
  height: 493px;
  width: 100%;
  padding: 64px 150px 70px;
  display: flex;
  width: 1440px;
  align-items: flex-start;
  gap: 48px;
}

.title-link {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.title-link p {
  color: #706458;
  font-family: Merriweather;
  font-size: 55px;
  font-style: normal;
  font-weight: 300;
  line-height: 60px;
  letter-spacing: -0.6px;
}

.title-link a,
.link a {
  text-decoration: none;
  color: var(--Terracotta, #A06056);
  font-family: Karla;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-link a img {
  height: 20px;
  width: 20px;
}

.services {
  width: 50%;
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.services .line1,
.services .line2 {
  display: flex;
  align-items: flex-start;
  gap: 29px;
  align-self: stretch;
}

.line1 div,
.line2 div {
  width: 295px;
}

.services h3 {
  color: var(--Terracotta, #A06056);
  font-family: Varta;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.2px;
}

.services p {
  color: var(--Brown-Light, rgba(112, 100, 88, 0.90));
  font-family: Varta;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  padding-top: 12px;
}

.latest-trends {
  background: #FFF;
  display: flex;
  padding: 70px 0px;
  height: 984px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.trends-newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 189px;
}

.title-link-newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 496px;
  gap: 15px;
}

.title h2 {
  color: var(--on-background-primary, #121212);
  font-family: Merriweather;
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: -0.3px;
}

.title p {
  color: var(--Brown-Light, rgba(112, 100, 88, 0.90));
  font-family: Varta;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.form {
  display: flex;
  align-items: flex-start;
  height: 50px;
  gap: 16px;
}

.form input {
  display: flex;
  height: 50px;
  width: 296.095px;
  padding: 15px 15.095px 10px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  border: none;
  background: rgba(243, 238, 232, 0.30);
}

.input {
  color: var(--Brown-Light, rgba(112, 100, 88, 0.90));
  font-family: Varta;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

input::placeholder {
  color: var(--Brown-Light, rgba(112, 100, 88, 0.90));
  font-family: Varta;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.form button {
  display: flex;
  width: 143.113px;
  height: 50px;
  padding: 8px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 1px;
  border: none;
  background: #534B42;
}

button {
  color: var(--on-color-primary, #FFF);
  text-align: center;
  font-family: Karla;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.3px;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.slides {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.inspiration {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.inspiration h3 {
  display: flex;
  width: 360px;
  height: 75px;
  flex-direction: column;
  justify-content: center;

  color: var(--Brown-Dark, #534B42);
  font-family: Merriweather;
  font-size: 45px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: -0.3px;
}

.inspiration p {
  width: 750px;

  color: #706458;
  font-family: Varta;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

footer {
  display: flex;
  height: 628px;
  padding: 70px 150px 64px;
  flex-direction: column;
  align-items: center;
  gap: 48px;

  background: #F3EEE8;
}

.footer-content {
  display: flex;
  align-items: flex-start;
  gap: 64px;
  align-self: stretch;
}

.footer-content p {
  color: #534B42;
  font-family: Merriweather;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
}

.footer-link-group {
  display: flex;
  align-items: flex-start;
  gap: 48px;
}

.footer-link-group-product,
.footer-link-group-rooms,
.footer-link-group-services,
.footer-link-group-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 135px;
  gap: 22px;
}

.footer-link-group div p {
  color: #534B42;
  font-family: Varta;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.2px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.footer-links a {
  text-decoration: none;
  color: #706458;
  font-family: Varta;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.footer-blog {
  display: flex;
  width: 235px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.footer-blog p {
  color: #534B42;
  font-family: Varta;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.2px;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}

.post-background {
  height: 160px;
  align-self: stretch;
  background-image: url(/assets/media/FooterColumnBackground.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.post p {
  color: #706458;
  font-family: Varta;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.legals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.legals p {
  color: rgba(112, 100, 88, 0.70);
  font-family: Varta;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.legals-links {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.legals-links p {
  color: rgba(112, 100, 88, 0.70);
  font-family: Varta;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}