* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-header {
  background: #F3EEE8;
  display: flex;
  justify-content: center;
}

.page-header .header-container {
  max-width: 1440px;
  height: 900px;
  width: 100%;
  display: flex;
  position: relative;
}

.page-header .header-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 55px;
  left: 150px;
  right: 150px;
}

.page-header .header-container nav div {
  display: flex;
  gap: 82px;
}

.page-header .header-container nav .logo {
  color: #A06056;
  font-family: Merriweather;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
  text-decoration: none;
}

.page-header .header-container nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

.page-header .header-container nav ul li a {
  color: #706458;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Varta;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
}

.page-header .header-container .left-side {
  width: 50%;
  padding: 24px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-header .header-container .left-side .section-title {
  color: #A06056;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Varta;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.page-header .header-container .left-side .title {
  color: #A06056;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Merriweather;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 70px;
  letter-spacing: -0.4px;
  margin-bottom: 30px;
}

.page-header .header-container .left-side .description {
  color: rgba(112, 100, 88, 0.90);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Varta;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 30.8px;
  margin-bottom: 50px;
}

.page-header .header-container .left-side img {
  height: 50px;
  width: 50px;
}

.page-header .header-container .right-side {
  width: 50%;
  background-image: url(/assets/media/Lamp.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.our-services {
  display: flex;
  background: #F3EEE8;
  justify-content: center;
}

.our-services .our-services-container {
  display: flex;
  width: 1440px;
  padding: 64px 150px 70px;
  align-items: flex-start;
  gap: 48px;
}

.our-services .our-services-container .services-left-side {
  width: 50%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.our-services .our-services-container .services-left-side p {
  color: #706458;
  font-family: Merriweather;
  font-size: 55px;
  font-style: normal;
  font-weight: 300;
  line-height: 60px;
  letter-spacing: -0.6px;
}

.more {
  text-decoration: none;
  color: #A06056;
  font-family: Karla;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.3px;
  display: flex;
  align-items: center;
}

.our-services .our-services-container .services-right-side {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}

.our-services .our-services-container .services-right-side .card {
  width: calc(50% - 30px);
  margin-bottom: 30px;
}

.our-services .our-services-container .services-right-side .card h3 {
  color: #A06056;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Varta;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.2px;
}

.our-services .our-services-container .services-right-side .card p {
  color: rgba(112, 100, 88, 0.90);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Varta;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.latest-trends {
  background: #FFF;
  display: flex;
  justify-content: center;

}

.latest-trends .news-content {
  padding: 70px 150px;
  display: flex;
  flex-direction: column;
}

.latest-trends .news-content .newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.latest-trends .news-content .newsletter .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 496px;
  gap: 15px;
}

.latest-trends .news-content .newsletter .title h2 {
  color: #121212;
  font-family: Merriweather;
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: -0.3px;
}

.latest-trends .news-content .newsletter .title p {
  color: rgba(112, 100, 88, 0.90);
  font-family: Varta;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.latest-trends .news-content .newsletter .form {
  display: flex;
  align-items: flex-end;
  height: 50px;
  gap: 16px;
}

.latest-trends .news-content .newsletter .form input {
  display: flex;
  height: 50px;
  width: 296.095px;
  padding: 15px 15.095px 10px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  border: none;
  background: rgba(243, 238, 232, 0.30);
}

.latest-trends .news-content .newsletter .form input::placeholder {
  color: rgba(112, 100, 88, 0.90);
  font-family: Varta;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.latest-trends .news-content .newsletter .form button {
  display: flex;
  width: 143.113px;
  height: 50px;
  padding: 8px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 1px;
  border: none;
  background: #534B42;
  color: #FFF;
  text-align: center;
  font-family: Karla;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.3px;
}

.latest-trends .news-content .slides {
  display: flex;
  justify-content: center;
  margin-top: 64px;
  margin-bottom: 40px;
  gap: 30px;
}

.latest-trends .news-content .inspiration {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.latest-trends .news-content .inspiration h3 {
  display: flex;
  width: 360px;
  flex-direction: column;
  justify-content: center;

  color: #534B42;
  font-family: Merriweather;
  font-size: 45px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: -0.3px;
}

.latest-trends .news-content .inspiration p {
  width: 750px;
  color: #706458;
  font-family: Varta;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.footter-section {
  background: #F3EEE8;
  display: flex;
  justify-content: center;
}

.footter-section .footer-content {
  width: 1440px;
  display: flex;
  flex-direction: column;
  padding: 70px 150px 64px;
}

.footter-section .footer-content .footer-logo-links-blog {
  display: flex;
  justify-content: space-between;
}

.footter-section .footer-content .footer-logo-links-blog .logo {
  color: #534B42;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Merriweather;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
  text-decoration: none;
}

.footter-section .footer-content .footer-logo-links-blog .group-links {
  width: 683px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footter-section .footer-content .footer-logo-links-blog .group-links .list-links {
  width: 135px;
}

.footter-section .footer-content .footer-logo-links-blog .group-links .list-links h5 {
  color: #534B42;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Varta;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.2px;
  margin-bottom: 22px;
}

.footter-section .footer-content .footer-logo-links-blog .group-links .list-links ul {
  display: grid;
  gap: 12px;
}

.footter-section .footer-content .footer-logo-links-blog .group-links .list-links ul li {
  list-style: none;
}

.footter-section .footer-content .footer-logo-links-blog .group-links .list-links ul li a {
  color: #706458;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Varta;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
  margin-bottom: 12px;
}

.footter-section .footer-content .footer-logo-links-blog .footer-blog {
  width: 235px;
  display: flex;
  flex-direction: column;
}

.footter-section .footer-content .footer-logo-links-blog .footer-blog h5 {
  color: #534B42;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Varta;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.2px;
  margin-bottom: 22px;
}

.footter-section .footer-content .footer-logo-links-blog .footer-blog .post-background {
  height: 160px;
  align-self: stretch;
  background-image: url(/assets/media/FooterColumnBackground.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.footter-section .footer-content .footer-logo-links-blog .footer-blog p {
  color: #706458;
  font-family: Varta;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin: 15px 0;
}

.footter-section .footer-content .social-networks-legals {
  margin-top: 48px;
}

.footter-section .footer-content .social-networks-legals .social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footter-section .footer-content .social-networks-legals .legals {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footter-section .footer-content .social-networks-legals .legals .legals-links {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.footter-section .footer-content .social-networks-legals .legals p,
.footter-section .footer-content .social-networks-legals .legals .legals-links p {
  color: rgba(112, 100, 88, 0.70);
  font-family: Varta;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}